<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>TextStart Ranker</string>
	<key>CFBundleIdentifier</key>
	<string>com.qsapp.Quicksilver.TextStartRanker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TextStart Ranker</string>
	<key>CFBundleDisplayName</key>
	<string>TextStart Ranker</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>25</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.0</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Allan Odgaard, Florian Heckl</string>
		<key>description</key>
		<string>Ranking which prefers word boundaries.&lt;br&gt;&lt;br&gt;So when you enter &quot;ab&quot; as a search string then &quot;Address Book.app&quot; gets a higher score then &quot;Abrasive.jpg&quot;.&lt;br&gt;&lt;br&gt;You can change the default ranker in the Handlers preferences.</string>
		<key>icon</key>
		<string>defaultIcon</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSStringRankers</key>
		<dict>
			<key>TextStartRanker</key>
			<string>TextStartRanker</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>3774</string>
		<key>obsoletes</key>
		<array>
			<string>com.macromates.quicksilver.duff_string_ranker</string>
		</array>
	</dict>
</dict>
</plist>
